
 body{
   background-color:white;
 }
 
 .header{
   background-color:darkblue;
   color:white;
   width: 100%;
 }
 .div1{
   margin-left: 15rem;
   width: 70%;
 }
 .imgs{
   width:30%;
 
 
 }
 .table{
   width:37%;
  float:right;
  
 }
 
 .div2{
   float: right;
 height: 10px;;
   width:20%;
 }
 .div4 {
   float: right;
   width: 300px;
   margin-right: 17rem;
   margin-top: 10rem;

 }
   form input type{
   
 margin-left: 20rem;
 }
 .navbar{
   text-align: center;
   font-size: 25px;
   width:100%;
   margin-top:5px;
   padding-left: 500px;
 
 }
 image_tag{
    width: 20px;
 }
 .main{
    background-color: aqua;
 }
  .div1 .btns{
   height:5px;
   width:20px;
 }
 .bit{
   width:14rem;
 }
.post{
 float: right;
  
  width: 70%;
  margin-left: 2rem;
  
 
}